<div class="flex flex-col items-center justify-center mt-8">

  <h1 class="text-3xl text-center font-bold mb-4 text-sky-400 animate-bounce">
    Sprongen<span class="text-pink-400">-planner</span></h1>
  <h2 class="text-lg text-center font-bold mt-2 mb-2 sm:w-96 sm:text-base">
    Wat is een sprong?</h2>
  <p class="text-center w-80 text-sm sm:w-96 sm:text-base">
    Een sprong is een periode waarin een baby grote stappen maakt in zijn/haar ontwikkeling. Tijdens zo'n sprong
    leert de baby nieuwe vaardigheden. Deze sprongen kunnen soms gepaard gaan
    met veranderingen in het gedrag en de behoeften van de baby (ook wel de 3 H's genoemd, Huilerig, Hangering en
    Humeurig).
  </p>
  <h2 class="text-lg text-center font-bold mt-2 mb-2 sm:w-96 sm:text-base">
    Waarom in je agenda zetten?</h2>
  <p class="text-center w-80 text-sm sm:w-96 sm:text-base">
    Als ouders kan die verandering van gedrag je ongerust maken of kun je zelf ook last krijgen van de 3 H's. Het heeft
    mij geholpen zodat ik onze baby extra liefde kon geven wanneer die dat nodig had.
  </p>
  <h2 class="text-lg text-center font-bold mt-2 mb-2 sm:w-96 sm:text-base">
    Sprongen planner?</h2>
  <p class="text-center w-80 text-sm sm:w-96 sm:text-base">
    Om precies vanaf uitgerekende datum de sprongen in je agenda te krijgen, dat brengt wat rekenwerk, met slaaptekort
    en de drukte van een baby is dat niet fijn. Daarom heb ik dit
    kleine
    tooltje gemaakt die dat voor jullie doet! Vul je uitgerekende datum in en importeer de .ics in je agenda. Bam.
    Klaar. Laat maar komen die sprongen.
    <br>
    <br>
    <a class="underline" target="_blank" href="https://oeiikgroei.nl/baby/sprongen/">Lees alles over sprongen op
      oeiikgroei.nl</a>
  </p>



</div>


<router-outlet></router-outlet>