<div class="flex flex-col items-center justify-center">
    <h3 class="text-3xl font-bold mb-4">Genereer agenda</h3>

    <form class="flex flex-col items-center" [formGroup]="berekenenForm" (ngSubmit)="onSubmit()">
        <label for="uitgerekendeDatum" class="mb-2">Uitgerekende datum<span class="text-red-500">*</span></label>
        <input formControlName="uitgerekendeDatum" type="date" id="uitgerekendeDatum"
            class="border border-gray-300 rounded-md p-2 mb-4">

        @if (berekenenForm.get('uitgerekendeDatum')!.invalid &&
        berekenenForm.get('uitgerekendeDatum')!.touched)
        {
        <div class="text-red-500 mb-4">Uitgerekende datum is verplicht.</div>

        }

        <button [disabled]="!berekenenForm.valid" type="submit"
            class="bg-blue-500 text-white rounded-md p-2 disabled:bg-blue-200">Bereken</button>
    </form>

</div>